a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

body {
  line-height: 1; }

a {
  text-decoration: none; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  position: relative; }

.clean::after {
  display: block;
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden; }

#header {
  width: 100%;
  height: 271px;
  background: #fff;
  border-bottom: 1px solid #363636; }

.top-box {
  min-width: 1240px;
  height: 80px; }
  .top-box .nav-bg {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -960px;
    width: 1920px;
    text-align: center; }
  .top-box .top-img-box {
    width: 100%;
    height: 80px;
    background: url(../img/shopping-nav-bg1.jpg) no-repeat; }
    .top-box .top-img-box img {
      display: block;
      width: 100%;
      height: 80px; }

.nav-bottom .left {
  float: left; }

.nav-bottom .right {
  float: right; }

.nav-bottom .nav {
  width: 100%;
  background: #e3e4e5; }

.nav ul {
  width: 1240px;
  height: 36px;
  line-height: 36px;
  margin: 0 auto; }

.nav a {
  display: block;
  font-size: 12px;
  color: #999;
  margin: 0 10px; }

.nav i {
  display: block;
  height: 18px;
  width: 22px;
  background: url(../img/head-nav-phone.png) no-repeat;
  position: absolute;
  right: 80px;
  top: 10px;
  -webkit-animation: i .3s ease-in-out 0s infinite;
  -moz-animation: i .3s ease-in-out 0s infinite;
  animation: i .3s ease-in-out 0s infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

@-webkit-keyframes i {
  0% {
    -webkit-transform: rotate(15deg); }
  50% {
    -webkit-transform: rotate(-15deg); }
  100% {
    -webkit-transform: rotate(15deg); } }

.nav .wit-i a {
  padding-left: 25px;
  position: relative;
  width: 75px; }

.nav-container {
  width: 1240px;
  height: 118px;
  margin: 0 auto; }
  .nav-container .header-logo {
    width: 150px;
    height: 118px;
    line-height: 118px; }
  .nav-container .header-tools {
    width: 740px;
    height: 76px;
    float: right;
    margin-right: 110px;
    padding-top: 30px;
    position: relative; }
  .nav-container .quickMark {
    width: 70px;
    height: 70px;
    border: 1px solid #ddd;
    position: absolute;
    right: -100px;
    top: 5px; }

.header-logo img {
  display: inline-block;
  width: 100%;
  height: 40px;
  vertical-align: middle; }

.header-tools .suggest-box {
  display: inline-block;
  vertical-align: middle; }

.header-tools input {
  vertical-align: top; }

.header-tools .suggest {
  width: 434px;
  height: 40px;
  padding: 0 14px;
  line-height: 40px;
  border: 1px solid #23ac38; }

.header-tools .search-btn {
  width: 72px;
  height: 42px;
  border: 0;
  cursor: pointer;
  margin-left: -4px;
  background: url(../img/head-icons.png) 24px -110px no-repeat #23ac38; }

.header-tools .searchkey a {
  display: inline-block;
  font-size: 12px;
  color: #848484;
  text-decoration: none;
  margin-top: 12px;
  padding: 0 5px; }

.header-tools .mycart {
  display: inline-block;
  font-size: 12px;
  width: 156px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  text-align: center;
  margin-left: 30px;
  position: relative; }
  .header-tools .mycart a {
    color: #363636;
    line-height: 40px; }
    .header-tools .mycart a .cart-size {
      display: inline-block;
      width: 19px;
      height: 19px;
      text-align: center;
      line-height: 19px;
      color: #bfbfbf; }
  .header-tools .mycart i {
    display: inline-block;
    width: 20px;
    height: 15px;
    margin: 0 7px 4px 0;
    background: url(../img/head-icons.png) no-repeat;
    vertical-align: middle; }
  .header-tools .mycart .cart {
    display: none;
    background: #fff;
    border: 1px solid #DDD;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    width: 380px;
    height: 100px;
    position: absolute;
    right: -1px;
    top: 40px;
    z-index: 222; }
    .header-tools .mycart .cart .cart-tips {
      padding: 30px 0;
      text-align: center;
      color: #666;
      position: relative; }
    .header-tools .mycart .cart a {
      color: #23ac38;
      padding: 0 3px;
      text-decoration: underline; }
    .header-tools .mycart .cart .cart-info {
      display: block;
      position: absolute;
      right: 0;
      top: -2px;
      width: 156px;
      height: 10px;
      background: #fff; }

.quickMark img {
  width: 60px;
  height: 60px;
  padding: 5px; }

.quickMark .quickMarkimg {
  position: relative; }

.quickMark .saoma {
  display: none;
  width: 180px;
  height: 70px;
  border: 1px solid #ddd;
  background: #Fff;
  position: absolute;
  top: 0;
  right: 0; }
  .quickMark .saoma p {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    padding-left: 5px; }
  .quickMark .saoma .p1 {
    padding-top: 15px; }
  .quickMark .saoma .p2 {
    color: red; }

.navbox {
  position: relative; }

.top-continer {
  width: 1240px;
  margin: 0 auto;
  position: relative; }
  .top-continer ul {
    float: left; }
    .top-continer ul li {
      float: left; }
    .top-continer ul a {
      display: block;
      padding: 0 12px;
      line-height: 37px;
      font-size: 15px;
      color: #323334;
      text-align: left; }
    .top-continer ul .menu {
      width: 210px;
      background: #363636;
      margin-right: 26px;
      position: relative; }
      .top-continer ul .menu a {
        display: block;
        color: #fff;
        margin-left: 20px;
        padding-left: 34px; }
      .top-continer ul .menu i {
        display: block;
        width: 26px;
        height: 26px;
        background: url(../img/head-icons.png) 3px -300px no-repeat;
        position: absolute;
        left: 18px;
        top: 7px; }

.top-continer .nav-img {
  width: 189px;
  height: 57px;
  position: absolute;
  right: 20px;
  top: -25px; }

.top-continer .sublist {
  display: none;
  width: 100%;
  height: 230px;
  position: absolute;
  left: 0;
  top: 38px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.96) !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); }

.sublist li {
  float: left;
  width: 200px;
  height: 170px;
  margin: 30px 0; }

.sublist a {
  display: inline-block;
  height: 120px;
  width: 120px;
  background: #fff;
  padding: 0 39px;
  border-right: 1px solid #363636; }

#lonbo {
  width: 100%;
  height: 420px;
  background: #fff;
  position: relative; }
  #lonbo .shop-lunbo {
    width: 100%;
    height: 420px;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -960px;
    width: 1920px;
    text-align: center; }
  #lonbo .banna-bg {
    position: relative; }
    #lonbo .banna-bg img {
      height: 420px; }
  #lonbo .left-tab {
    z-index: 333;
    width: 210px;
    height: 420px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -620px;
    color: #fff; }
  #lonbo .left-tab {
    position: relative; }
  #lonbo .right-top-line {
    position: absolute;
    right: 100px;
    bottom: 5px; }
  #lonbo .bigbox {
    width: 215px;
    height: 200px;
    background: #fff;
    border: 1px solid #333;
    margin: 5px 0px; }

.tablist {
  opacity: 0.7;
  width: 210px;
  height: 420px;
  background: #ddd; }
  .tablist li {
    height: 51px;
    line-height: 51px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12) a;
      border-bottom-display: block;
      border-bottom-height: 50px;
      border-bottom-line-height: 50px;
      border-bottom-color: #666; }
    .tablist li .span-logo {
      display: block;
      font-size: 14px;
      text-align: center;
      color: #1b1b1b;
      vertical-align: middle; }
  .tablist .secnav-shop {
    display: none;
    width: 1030px;
    height: 420px;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 210px;
    top: 0; }
  .tablist .scnav-main {
    display: inline-block;
    padding: 0 0 0 30px;
    max-width: 1000px;
    min-height: 400px;
    width: auto; }

.scnav-main {
  width: 954px; }
  .scnav-main h5 {
    font-size: 14px;
    color: #333; }
  .scnav-main li {
    width: 954px;
    height: 41px;
    line-height: 41px;
    padding-bottom: 20px; }
    .scnav-main li p {
      width: 120px;
      float: left;
      display: inline-block;
      font-size: 14px;
      position: relative;
      padding-right: 10px; }
      .scnav-main li p img {
        display: inline-block;
        width: 40px;
        height: 40px; }
      .scnav-main li p .col-red {
        color: #ff0000; }
    .scnav-main li span {
      display: inline-block;
      font-size: 12px;
      color: #333;
      position: absolute;
      left: 45px;
      top: 0px; }

#main {
  width: 100%;
  height: 5718px;
  background: #ffb6c1; }

#footer {
  width: 100%;
  height: 350px;
  background: #FF9; }

.rightsub {
  width: 3px;
  height: 6500px;
  border-left: 3px solid #636363;
  background: #fff;
  position: absolute;
  right: 0;
  top: 0; }
